@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;

}
header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        font-size: 1.5rem;
    }

    h2{
        margin-left: 10px;
    }
}
.display-header{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#date-time-display{
    font-size: 12px;
}
textarea{
    font-size: 12px;
    resize: none;
    width: 100%;
    height: 100px;
    padding: 5px;
     border-radius: 5px;
     border: solid 1px #cac0c0;
}
.return:hover{
    cursor: pointer;
    color: #a70b0b;
}
.artwork-upload{

    width: 600px;
    padding-inline: 20px;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
   
    label{
        font-size: 13px;
    }
}
.artwork-upload input{
    font-size: 12px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    padding-inline: 5px;
}
.title{
    border: solid 1px #cac0c0;
}
.artwork-upload select{
    font-size: 12px;
    border: solid 1px #cac0c0;
    width: 50%;
    height: 30px;
    border-radius: 10px;

}

.artwork-upload button{
    font-size: 12px;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    background-color:#a70b0b;
    color: white;
    position: relative;
    bottom: 30px;
    transition: background-color 0.3s ease; 
}

.artwork-upload button:hover{
    cursor: pointer;
    background-color: #f11111; ;
}

/* choose file */
.custom-file-upload {
    margin-top: 10px;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    background-color: #a70b0b;
    color: white; 
    border-radius: 20px; 
    font-size: 12px;
    transition: background-color 0.3s ease; 
}
.custom-file-upload:hover {
    background-color: #f11111; 
}
.custom-file-upload input[type="file"] {
    display: none;
}

/* image display */


.image-upload {

    width: 50%;
    position: absolute;
    top: 0;
    right: 0;

    input{
        padding: 5px;
    }

}

.image-display {
    margin-top: 80px;
    border-radius: 20px;
    width: 500px; 
    height: 500px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    p{
        font-weight: 600;
        color: #b9b9b9;
        font-size: 1.5rem;
    }
}

.image-display img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-display img.hidden {
    display: none; 
}

/* modal validation */
#validationModal{
    display: none;
    position: fixed; 
    z-index:100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    padding: 15px;
    border: 1px solid #888;
    margin-top: 20%;
    margin-left: 20%;
    border-radius: 20px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    
  }

  .close-btn{
    color: #aaa;
    margin-left: 20px;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close-btn:hover,
  .close-btn:focus {
    color: #c40d0d;
    text-decoration: none;
    cursor: pointer;
  }
/* visit profiule */
.head-view{
    padding: 10px;

    p{
        font-weight: bold;
        font-size: 1.3rem;
    }

    a{
        text-decoration: none;
        color: black;
    }
}
.wrapper-view{
    max-width: 1500px;
    margin-inline: auto;
}

.profile-details{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-profile img{

    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    
}
.user-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 12px;
        
    }
}

.follow{
    margin-top: 10px;
    display: flex;
    width: 150px;
    justify-content: space-between;

    span{
        font-weight: bold;
    }

    a{
        text-decoration: none;
        color: black;
    }
}
.follow-btn{
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
    width: 150px;
    border-radius: 20px;
    border-style: none;
    background-color: #b61616;
    color: white;
    font-weight: bold;
}
.follow-btn:hover{
    background-color: #db1919;
    cursor: pointer;
}
/* follow modal ppopup */
.modal {
    display: none; 
    position: fixed; 
    z-index: 5; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.24); }

.modal-content {
    background: rgba(255, 255, 255, 255); 
    border-radius: 15px; 
    margin: 15% auto; 
    padding: 20px;
    width: 30%; 
}

.close-button {
    color: #aaa; 
    float: right;
    font-size: 25px;

}

.close-button:hover,
.close-button:focus {
    color: black; 
    text-decoration: none;
    cursor: pointer;
}

.followers-pop-up,.following-pop-up{
    background-color: white;
    position: absolute;
    right: 500px;
    border-radius: 20px;
    padding: 20px;
    top: 100px;
    width: 25%;
    height: 70%;
  
    
    h5{
        margin-bottom: 10px;
    }
}
.follower-display,.following-display{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 5%;
    width: 300px;
    a{
        text-decoration: none;
        color: #b10505;
    }
}
.follower-name{
    margin-left: 5%;
}
.profile-pic{
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
}

/*tab folder */
.tab {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  

.tab button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px;
    transition: 0.3s;
  }
  

.tab button:hover {
color: #b10505;
}


.tab button.active {
    text-decoration: underline;
    color: #b61616;
    font-weight: bold;
}


.tabcontent {
    display: none;
    padding: 1rem;
    animation: fadeEffect 1s; 
}
 
  
@keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}
/* created tab */

.image-artwork {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1500px;
}

.image-artwork img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.box{
    font-size: .8rem;
    height: 350px;
    cursor: pointer;
}

.box span{
    font-size: .8rem;
}

.artist-name {
    height: 0; 
    width: 200px;
    position: relative;
    left: 10px;
    bottom: 15px;
    font-size: 0.7rem;
    text-align: left;
    overflow: hidden;
    transition: 1s ease;
    border-radius: 20px;
    padding: 2px 10px; 
    backdrop-filter: blur(3px); 
    color: white;
}

.box:hover .artist-name{
    bottom: 20%;
    height: 40px;
    cursor: pointer;
 }


/* saved tab */
.folder-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap: 2rem;
}
.folder-image{
    width: 250px;
    height: 220px;
    padding: 10px;
    border-radius: 20px;
    background-color: #f4f1f1;
    display: flex;
    flex-wrap: wrap;

img{
    max-width: 100%;
    display: block;
    border-radius: 10px;
}
}
.right-image,.left-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 5px;
    width: 40%;
    height: 100%;

}
.left-image{
width: 50%;
}
.folder-image img{
    width: 100%;
    height:40% ;
    margin-bottom: 10px;
}

.left-image img:nth-child(1){

    width: 100%;
    height:100%;
    margin-bottom: 10px;
}

#validationModal {
    display: none;

}


